{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Users</h1>
    </div>

    <div class="row profiles">
        <div class="col-md-12">
        {% for user, profile in users %}
                <div class="media" style="margin-bottom:30px;">
                    <div class="media-left">
                        <a href="/rango/profile/{{user}}/">
                            <img class="media-object" src="/media/{{profile.picture}}" style="width: 100px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{user}}</h3>
                        <div class="btn-group btn-group-sm" style="/*margin-top: 70px*/">
                            <a href="/rango/profile/{{user}}/" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View Profile</a>
                            <a href="{{profile.website}}" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Visit on the Web</a>
                            <a href="mailto:{{user.email}}" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email User</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}