<!DOCTYPE html>

{% load static %}

<html>

<head>
    <title>Rango | About</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
    <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>About me</h1>
        This tutorial has been put together by <b>{{student_name}}, {{student_number}}</b> <br>
        <a href="/rango/">Home</a> <br>
        <img src="{% static "images/george.jpg" %}" alt="Picture of George" /> <!-- Images -->
    </body>

</html>